@import '../../assets/styles/colors.css';
@import '../../assets/styles/theme.css';
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: inherit;
  font-size: 20px;
  margin-top: 20px;
  border: none;
  box-shadow: 0 0 3px;
  border-radius: 5px;
  width: 250px;
  height: 25px;
  transition: 0.3s;
  outline: none;
  &:hover {
    cursor: pointer;
  }
  &_colorful{
    color: var(--text-colorful-color);
    background-color: var(--background-colorful-color);
    &:hover{
      background-color:var(--background-colorful-hover);
    }
  }
  &_monochrome{
    color: var(--text-monochrome-color);
    background-color: var(--background-monochrome-color);
    &:hover{
      color:var(--text-monochrome-hover);
      background-color:var(--background-monochrome-hover);
      box-shadow: 0 0 6px var(--box-shadow-monochrome-hover);
    }
  }
  &_logout{
    &:hover{
      background-color:var(--background-logout-hover);
    }
  }
  
  
}
.logout {
  border: var(--white) 1px solid;
  background: none;
  &:hover {
    background: var(--hover-logout);
  }
  width: 100px;
  position: absolute;
  right: 50px;
  margin-top: -15px;
}
