@import '../../assets/styles/colors.css';
a {
  text-decoration: none;
  color: black;
}
.ref-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  &__title {
    width: 100%;
    text-align: center;
    font-size: 50px;
  }
  &__ref-list {
    margin: 20px;
    width: 100%;
    height: 300px;

    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }
  &__ref-item {
  }
  &__ref-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--black-color);
    box-shadow: 0 0 5px var(--ref-links);
    font-size: 50px;
    width: 300px;
    height: 300px;
    padding: 5px;
    transition: 0.4s;
    text-decoration: underline;
    color: white;
    &:hover {
      background: var(--ref-links);
      color: var(--black-color);
      transform: scale(1.1);
    }
  }
}
