:root{
    --bg-header:gray;
    --black-color:black;
    --main-bg:#282828;
    --white:white;
    --text-black:black;
    --hover-btn:lightgreen;
    --hover-logout:#dc143c;
    --link:lightblue;
    --ref-links:#fff
}