body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #282828;
  color: white;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.edit-page,
.single-page{
  
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height:700px;


}
.all-page{
  
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 700px;
}