@import '../../assets/styles/colors.css';
.main-menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    margin-top: 50px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px var(--white);
    transition: 0.3s;
    font-size: 20px;
    &:hover {
      background: var(--ref-links);
      color: var(--text-black);
    }
  }
}
