@import '../../assets/styles/colors.css';
.ref-item {
  display: flex;
  height: 32px;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid var(--bg-header);
  &__id,
  &__name {
    font-size: 1.3em;
    margin: 0 24px;
    width: 40%;
  }
}
