@import '../../../assets/styles/colors.css';
.auth-form{
    display: flex;
    flex-direction: column;
    &__reg-link{
        color:var(--link);
        margin-top:20px;
    }
    align-items:center;
}